<!DOCTYPE html>
<html>
    
    <head>
        <script src="../library/jquery-1.7.2.min.js"></script>
        <script src="../library/underscore-min.js"></script>
        <script src="../library/backbone-min.js"></script>
        <script src="../library/json2.js"></script>
        <script src="../library/humanize.min.js"></script>
        <link href="../library/bootstrap/css/bootstrap.css" rel="stylesheet" type='text/css'>
        <script src="code.js"></script>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet'
        type='text/css'>
        <meta charset=utf-8 />
        <title>La Norriture</title>
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="stylesheets/ie.css">
        <![endif]-->
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <style>
            body {
                font-family:'PT Sans', sans-serif;
            }
            #header {
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        <script type="text/html" id="template-menu">
            <% _.each(meals, function (meal, num) { %> <li> The <% print(Humanize.ordinal(num + 1)) %> plate contains some delicious <span class = "label label-success"> <%= meal.appetizer %> </span> for starters, following up with some <span class="label label-warning"><%= meal.entree %></span>, and then drooling over some <span class = "label label-info"> <%= meal.dessert %> </span>. </li> <%
            }); %>
        </script>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <div id="header">
                        <h1>Menu</h1>
                        <br />
                        <form class="form-horizontal">
                        <input class="input-xlarge"  type="text" id="appetizer"
                        placeholder="Enter your appetizer here">
                        <a href="#" id="add" class="btn">Add meal</a>
                    </form>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="span3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet
                    nisi et eros iaculis pellentesque ut ac enim. Morbi ut mattis sapien. Nullam
                    blandit hendrerit metus eget porttitor. Nunc ullamcorper ligula eu ligula
                    tristique suscipit. Nulla facilisis ultricies est id consequat. Aliquam
                    erat volutpat. Pellentesque in risus non ante blandit gravida. Sed sodales
                    sollicitudin diam non posuere. Nam tristique sem mauris. Nam elit mi, sagittis
                    vel feugiat quis, gravida sit amet odio. Duis aliquet dolor in nisl consectetur
                    blandit. Vestibulum congue quam vel nisi tempor id scelerisque velit ultricies.
                    Sed euismod ullamcorper ornare. Maecenas lectus est, consequat id scelerisque
                    nec, posuere in tellus. Suspendisse a odio ante, convallis ornare nisl.
                    Cras vel dui ipsum. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Fusce ornare quam vitae massa iaculis tempus.
                    Sed nisi nisl, congue quis consequat vel, gravida sed dolor. Donec non
                    quam in mauris posuere pellentesque. In sed odio vestibulum sem lacinia
                    iaculis.</div>
                <br />
                <div class="span9">
                    <div id="meals">
                        <ol></ol>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>