body {
    font-family: 'PT Sans', sans-serif;
}

#header {
    text-align: center;
}

h4 {
    border-bottom: 1px solid #09C;
    color: # 555;
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}

h4 span {
    background: #FFF;
    padding: 0 15px;
    position: relative;
    top: 10px;
}